body {
    font-family: Arial, sans-serif;
    padding: 30px;
    background-color: #f2f2f2;
}

h1 {
    color: darkblue;
}

p {
    margin-top: 20px;
    color: #333;
}

table {
    margin-top: 20px;
    background-color: white;
}

td {
    padding: 10px;
}

fieldset {
    margin-top: 25px;
    padding: 15px;
    background-color: white;
}

input, select {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: RoyalBlue;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

/* footer */
footer {
    margin-top: 30px;
    color: gray;
}
